In [2]:
# Import pandas
import pandas as pd

In [3]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',sep=' ')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Balance    400 non-null    float64
 1   Income     400 non-null    float64
 2   Limit      400 non-null    int64
 3   Rating     400 non-null    int64
 4   Cards      400 non-null    int64
 5   Age        400 non-null    int64
 6   Education  400 non-null    int64
 7   Gender     400 non-null    object
 8   Student    400 non-null    object
 9   Married    400 non-null    object
 10  Ethnicity  400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 34.5+ KB

In [4]:
# Compare the average income based on ethnicity
df.groupby('Ethnicity')['Income'].mean()

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [5]:
# Calculate on average, if married or single people have a higher balalnce
married_bal = df[df['Married'] == 'Yes']
single_bal = df[df['Married'] == 'No']
married_bal_mean = round(married_bal['Balance'].mean(),2)
single_bal_mean = round(single_bal['Balance'].mean(),2)

print(f'Average balance of Singles : {single_bal_mean}')
print(f'Average balance of Married : {married_bal_mean},')
print(f'Single people have higher mean balance: {single_bal_mean}, than married people: {married_bal_mean}')

Average balance of Singles : 13.49
Average balance of Married : 13.39,
Single people have higher mean balance: 13.49, than married people: 13.39

In [6]:
# Show highest income in the dataset
highest_income = df.loc[:, "Income"].max()
print(highest_income)

186.634

In [7]:
# Show lowest income in the dataset
lowest_income = df.loc[:, "Income"].min()
print(lowest_income)

10.354

In [8]:
# Show total cards in the dataset
df['Cards'].sum()

1183

In [9]:
# Show total females vs total males in the dataset
df.value_counts('Gender')
female = df[df['Gender'] == 'Female'].shape[0]
male = df[df['Gender'] == 'Male'].shape[0]
print(f'We have {female} females vs {male} males.')

We have 207 females vs 193 males.

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).